{# IF tag in element not allowed
<option {% if not purchasable.isAvailable %}disabled{% endif %}>
    {{ purchasable.description }}
    {{
        purchasable.salePrice|commerceCurrency(
            cart.currency
        )
    }}
</option>
#}

{{- ratingValue == 10 -}}
{{- ratingValue == 10 | number_format(1) -}}
{{- ratingValue == 10 ? ratingValue : ratingValue -}}
{{- ratingValue == 10 ? ratingValue : ratingValue | number_format(1) -}}
